/* this is a css file  */

/* stylize the heading  */
h1 {
    color:red;
    background-color: lightcyan;
}

/* stylize the paragraph  */
p {
    font-style: italic;
    background-color: lightsalmon;
}

/* stylize the body  */
body{
    background-color: lightsteelblue;
}

/* add margins to table  */
table {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* stylize the div container  */
#box {
    width: 100px;
    height: 100px;
    margin: 20px;
    border:5px solid maroon;
    background-color: mintcream;
    align-items: center;
    align-self: center;
}